body{
    font-family: "Noto Sans TC", serif;
    background-color: #f9f9f9;
    color: #444752;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

p,span,strong{
    letter-spacing: 0.03em;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    letter-spacing: 0.04em;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    color: black;
}

.container{
    max-width: 1170px;
}