.noto-sans-tc-thin {
  font-family: "Noto Sans TC", serif;
  font-weight: 100;
}

.noto-sans-tc-extralight {
  font-family: "Noto Sans TC", serif;
  font-weight: 200;
}

.noto-sans-tc-light {
  font-family: "Noto Sans TC", serif;
  font-weight: 300;
}

.noto-sans-tc-regular {
  font-family: "Noto Sans TC", serif;
  font-weight: 400;
  color: #000;
}

.noto-sans-tc-medium {
  font-family: "Noto Sans TC", serif;
  font-weight: 500;
}

.noto-sans-tc-semibold {
  font-family: "Noto Sans TC", serif;
  font-weight: 600;
}

.noto-sans-tc-bold {
  font-family: "Noto Sans TC", serif;
  font-weight: 700;
}

.noto-sans-tc-extrabold {
  font-family: "Noto Sans TC", serif;
  font-weight: 800;
}

.noto-sans-tc-black {
  font-family: "Noto Sans TC", serif;
  font-weight: 900;
}
