$primary-green: #00A9B4;
$primary-orange: #FFA844;


$custom-colors: (
  "primary-green": $primary-green,
  "primary-orange": $primary-orange,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/bootstrap";