/* custom-color */
:root {
  --primary-grey: #636E78;
  --primary-purple: #AF5CD5;
}
.text-primary-grey {
  color: var(--primary-grey);
}
.bg-primary-grey {
  background-color: var(--primary-grey);
}
.text-primary-purple {
  color: var(--primary-purple);
}
.bg-primary-purple {
  background-color: var(--primary-purple);
}

/* base */
body {
  font-family: "Noto Sans TC", serif;
  color: #444752;
  /* background-color: rgb(255, 240, 240); */
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer; 
  transition: 0.2s;
  color: #7aacf1;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.no-max-width {
  max-width: unset;  
  width: auto; 
}

p,
span,
strong {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  overflow: hidden;
}

/* utils */
.custom-box-shadow {
  box-shadow: 2px 10px 10px 1px rgba(0, 0, 0, 0.15);
}

.hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
  transform: translateY(-8px) scale(1.02); /* 懸浮時微微上移並放大 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 增加陰影，讓視覺更有層次 */
}

/* 1 */
.mainTitle{
  font-size: 20px;
  @media screen and (min-width: 767px) {
    font-size: 40px;
  }
}
.stairs {
  height: 600px;
  @media screen and (min-width: 576px) {
    height: 800px;
  }
}
.waveBG{
  margin-top: -240px;
  @media screen and (min-width: 576px) {
    margin-top: -200px;
  }
  @media screen and (min-width: 767px) {
    margin-top: -500px;
  }
  @media screen and (min-width: 992px) {
    margin-top: -300px;
  }
}

/* 2 */
.feature h3{
  font-size: 20px;
  @media screen and (min-width: 767px) {
    font-size: 28px;
  }
}
.feature h4{
  font-size: 16px;
  @media screen and (min-width: 767px) {
    font-size: 24px;
  }
}
.feature:hover {
  transform: translate(10);
}

.cardGroup {
  .card {
    border-radius: 24px;
    border: none;
  }
  .card-text {
    letter-spacing: 0.05rem;
  }
  h4{
    font-size: 16px;
    @media screen and (min-width: 767px) {
      font-size: 28px;
    }
  }
  h5{
    font-size: 16px;
    @media screen and (min-width: 767px) {
      font-size: 20px;
    }
  }
}

/* 3 */
.switch{
  background-image: url(./images/section_4_bg.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 60px;
  img{
    width: 50%;
    margin: 0 auto;
  }
  .threeTab {
    padding: 20px;
    border-radius: 16px;
    @media screen and (min-width: 767px) {
      padding: 40px;
    }
  }
  h3{
    font-size: 20px;
    @media screen and (min-width: 767px) {
      font-size: 28px;
    }
  }
  h4{
    font-size: 16px;
    @media screen and (min-width: 767px) {
      font-size: 28px;
    }
  }
  .nav-pills .nav-link.active {
    color: #fff;
    background-color: #7aacf1;
    border-radius: 60px;
    transition: 0.5s;
  }
  .nav-link {
    color: black;
    font-size: 16px;
    @media screen and (min-width: 767px) {
      font-size: 28px;
    }
  }
  @media screen and (min-width: 767px) {
    margin-top: 60px;
    img{
      width: 424px;
      margin: 0;
    }
  }
}


.news{
  background-image: url(./images/section_6_bg.png);
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  padding: 20px 0;
  img{
    width: 128px;
    margin: 0 auto;
  }
  @media screen and (min-width: 767px) {
    margin-top: 40px;
    padding: 100px 0;
    img{
      width: 256px;
      margin: 0 auto;
    }
  }
}

.watch{
  margin-top: 80px;
  .arrow {
    margin-top: 100px;
    margin-left: -120px;
    transform: rotate(30deg);
  }
  .btn:hover{
    background-color: #873baa;
  }
}

.footerBG{
  background-color: #343A40;
  font-size: 12px;
  @media screen and (min-width: 767px) {
    font-size: 16px;
  }
}

/* deco */
.decorations {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.deco {
  position: absolute;
  z-index: -1; 
  opacity: 0.8;
}

.deco-circle0 {
  top: 20%;
  left: 5%;
  width: 80px;
}
.deco-rect0 {
  top: 15%;
  right: 0%;
  width: 120px;
}
.deco-rect1 {
  top: 65%;
  left: -2%;
  width: 120px;
}
.deco-circle1 {
  top: 60%;
  right: 5%;
  width: 60px;
}
.deco-rect2 {
  top: 80%;
  right: -3%;
  width: 140px;
}
.deco-circle2 {
  top: 80%;
  left: 6%;
  width: 60px;
}


.deco-circle3 {
  top: 0%;
  left: 5%;
  width: 80px;
  z-index: 2;
}
.deco-rect3 {
  top: 0%;
  right: 2%;
  width: 120px;
  z-index: 2;
}
.deco-circle4 {
  top: 20%;
  right: 0%;
  width: 80px;
  z-index: 2;
}
.deco-rect4 {
  top: 20%;
  left: 2%;
  width: 140px;
  z-index: 2;
}
.deco-circle5 {
  top: 50%;
  left: 0%;
  width: 80px;
}
.deco-rect5 {
  top: 80%;
  left: 4%;
  width: 140px;
  z-index: 2;
}
.deco-circle6 {
  top: 80%;
  right: 4%;
  width: 80px;
  z-index: 2;
}
.deco-rect6 {
  top: 50%;
  right: 4%;
  width: 140px;
  z-index: 2;
}

/* backTopBtn */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  background: transparent; /* 確保沒有額外背景 */
  cursor: pointer;
  display: none; /* 預設隱藏 */
  transition: opacity 0.3s;
  z-index: 3;
}

.back-to-top.show {
  display: block;
  opacity: 1;
}
